PORT = 3000 # Your port

POOL_ID = 1 # Pool ID

#! For both FORMBAR_URL and THIS_URL:
# Using `localhost:port` is generally a bad idea. Use your IP address instead, unless you are the only one testing.
#! BE SURE TO INCLUDE http://
FORMBAR_URL = 'https://formbeta.yorktechapps.com'
THIS_URL = 'http://localhost:3000' # Don't forget your port

FORMBAR_API_KEY = 'abcdef12356789' # Your API key (on your Formbar profile page)
FB_MIDDLEWARE_SECRET = 'secret_key!?!?!??' # Secret key for Formbar Oauth middleware