<!DOCTYPE html>
<html>

<head>
    <title>Chess</title>
    <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap" rel="stylesheet">
    <style>
        #container {
            display: flex;
            align-items: flex-start;
            vertical-align: top;
        }

        #sidebar {
            display: flex;
            gap: 10px;
            margin-left: 10px;
        }

        .captureBox {
            border: 5px solid black;
            width: 75px;
            height: 590px;
            overflow-y: auto;
            max-height: 590px;
        }

        #InfoBox {
            border: 10px solid black;
            width: 175px;
            height: 100px;
            font-size: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Lavishly Yours', cursive;
            font-weight: 400;
        }
    </style>
</head>

<body>
    <div id="container">
        <canvas id="canvas"></canvas>
        <div id="sidebar">
            <div id="CapturedW" class="captureBox"></div>
            <div id="CapturedB" class="captureBox"></div>
            <div id="InfoBox"></div>
        </div>
    </div>

    <!-- Socket.IO client (auto-served by your server) -->
    <script src="/socket.io/socket.io.js"></script>

    <script src="js/settings.js"></script>

    <script src="js/clientBoard.js"></script>
    <script src="js/main.js"></script>
    <script>
        const InfoBox = document.getElementById("InfoBox");
        socket.on("updateBoard", (board) => {
            InfoBox.innerHTML = board.turn
        })
    </script>
</body>

</html>