<!DOCTYPE html>
<html>

<head>
    <title>Chess Free Unblocked Online</title>
</head>

<body>
    <canvas id="canvas"></canvas>

    <!-- Socket.IO client (auto-served by your server) -->
    <script src="/socket.io/socket.io.js"></script>

    <script src="js/settings.js"></script>
    <script src="js/main.js"></script>
</body>

</html>