<!DOCTYPE html>
<html>

<head>
    <title>Chess</title>
    <style>
        #container {
            display: flex;
            align-items: flex-start;
            vertical-align: top;
        }

        #sidebar {
            display: flex;
            gap: 10px;
            margin-left: 10px;
        }

        .captureBox {
            border: 5px solid black;
            width: 75px;
            height: 590px;
            overflow-y: auto;
            max-height: 590px;
        }

        #InfoBox {
            border: 10px solid black;
            width: 175px;
            height: 100px;
        }
    </style>
</head>

<body>
    <div id="container">
        <canvas id="canvas"></canvas>
        <div id="sidebar">
            <div id="CapturedW" class="captureBox"></div>
            <div id="CapturedB" class="captureBox"></div>
            <div id="InfoBox"><!-- varible for turn go here me thinks--></div>
        </div>
    </div>

    <!-- Socket.IO client (auto-served by your server) -->
    <script src="/socket.io/socket.io.js"></script>

    <script src="js/settings.js"></script>

    <script src="js/clientBoard.js"></script>
    <script src="js/main.js"></script>
</body>

</html>