<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="index.css">
        
    <title>Chess</title>
</head>

<body>
    <canvas id="canvas"></canvas>
    <div id="peiceBar"></div>
    <div id="infoBox"></div>

    <!-- Socket.IO client (auto-served by your server) -->
    <script src="/socket.io/socket.io.js"></script>

    <script src="js/settings.js"></script>

    <script src="js/clientBoard.js"></script>
    <script src="js/main.js"></script>
</body>

</html>