#notif_popup {
    width: 75%;
    left: 12.5%;
    height: 15vmin;
    position: absolute;
    bottom: 0;
    background-color: #071b2ad8;
    border-radius: 1rem;
    z-index: 99999;
    padding-left: 3vmin;
    display: block;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 250ms ease;
    overflow-x: hidden;
}

#notif_popup a {
    color: grey !important;
    transition: all ease 250ms;
}

#notif_popup a:hover {
    font-size: 1.1em;
}

#notif_popup.hide-popup {
    opacity: 0;
    pointer-events: none;
}

#notif_type {
    font-size: 2.5vmin;
}

#notif_message {
    font-size: 1.75vmin
}